:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    color: var(--very-dark-magenta);
}
body {
    background: url(../assets/images/bg-pattern-top-mobile.svg) no-repeat, url(../assets/images/bg-pattern-bottom-mobile.svg) no-repeat bottom;
}
@media screen and (min-width: 1440px) {
    body {
        background: url(../assets/images/bg-pattern-top-desktop.svg)  no-repeat, url(../assets/images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
    }
}

/* HEADER */
.header {
    text-align: center;
    color: var(--very-dark-magenta);
    margin: 5.5rem 5% 3rem;
}
.header__title {
    line-height: 1;
    margin: 0 5% 2rem;
}
.header__text {
    line-height: 1.5;
}
/* end HEADER */
@media screen and (min-width: 1440px) {
    .header {
        text-align: left;
        margin: 0;
        width: 60%;
        display: inline-block;
    }

    .header__title {
        font-size: 3.5rem;
        margin: 0 0 1rem;
    }
}

/* RATING CARDS */
.ratings-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.5rem;
}
.rating__cards {
    width: 90%;
    background-color: var(--light-grayish-magenta);
    padding: 1rem;
    border-radius: .5rem;
}
.rating__cards__stars {
    margin-bottom: .5rem;
}
.rating__cards__stars img {
    margin: 0 .2rem;
}
.rating__cards__text {
    font-size: 1rem;
    letter-spacing: -.03rem;
}
/* end RATING CARDS */
@media screen and (min-width: 1440px) {
    .main-content {
        display: flex;
        margin: 8% 0 3rem 9%;
    }
    
    .ratings-container {
        width: 100%;
        align-items: flex-end;
        margin-top: 1rem;
        margin-right: 9.5%;
        margin-bottom: 0;
        /* position: relative; */
    }
    .rating__cards {
        max-width: 60%;
        min-width: 55%;
        display: flex;
        gap: 1.5rem;
        /* position: relative; */
    }
    .rating__cards:nth-child(1) {
        margin-right: 22%;
    }
    .rating__cards:nth-child(2) {
        margin-right: 11%;
    }

    .rating__cards__stars {
        margin-bottom: 0;
        margin-left: 1rem;
    }
}

/* TESTIMONIALS */
.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7rem;
}
.testimonial-card {
    background-color: var(--very-dark-magenta);
    width: 90%;
    border-radius: .5rem;
    padding: 2rem;
}

.card__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
    .card__header__img {
        border-radius: 50%;
        width: 3rem;
    }
    .card__header__img-profile {
        color: var(--white);
        display: inline-block;
        font-size: .9rem;
        line-height: 1.5;
        
    }
        .profile-status {
            color: var(--soft-pink);
            font-weight: 400;
            opacity: .7;
        }

.card__text {
    color: var(--light-grayish-magenta);
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
}
/* end TESTIMONIALS */
@media screen and (min-width: 1440px) {
    .testimonials-container {
        flex-direction: row;
        margin: 5rem 9% 0;
        gap: 3rem;
    }
    .testimonial-card:nth-child(1) {
        margin-bottom: 4rem;
    }
    .testimonial-card:nth-child(2) {
        margin-bottom: 2rem;
    }

    .card__text {
        word-spacing: .09rem;
        letter-spacing: .0075rem;
    }
}