:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magneta: hsl(300, 69%, 71%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-image: url(../assets/images/bg-desktop.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
}

/* HEADER */
.header {
    margin-top: 3rem;
    margin-left: 4.5rem;
    margin-bottom: 5rem;
}
.header__logo {
    width: 15rem;
}
/* end HEADER */

/* MAIN-CONTENT */
.main-content {
    margin: 0 4.5rem 3rem;
    display: flex;
    gap: 3rem;
}

.main-content__img {
    width: 46.25vw;
}
.main-content__title {
    margin-top: 2.75rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
}
.main-content__text {
    letter-spacing: .5px;
    margin-right: 8rem;
    margin-bottom: 1.5rem;
}
.main-content__button {
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 2px rgba(50, 50, 50, .6);
    color: var(--violet);
    outline: none;
    font-size: 1rem;
    padding: .75rem 3.75rem;
}
@media screen and (min-width: 1440px) {
    .main-content__button:hover {
        cursor: pointer;
        background-color: var(--soft-magneta);
        color: #fff;
        transition: all ease .3s;
    }
}
/* end MAIN-CONTENT */

/* FOOTER */
.links-ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    float: right;
    margin-right: 5rem;
    margin-bottom: 1.5rem;
}
.links-icons {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: .25rem;
    font-size: 1.25rem;
}
.fa-facebook-f {
    padding: 0 .4rem;
}
.fa-twitter {
    padding: 0 .2rem;
}
.fa-instagram {
    padding: 0 .3rem;
}
@media screen and (min-width: 1440px) {
    .links-icons:hover {
        color: var(--soft-magneta);
        border-color: var(--soft-magneta);
        transition: all ease .3s;
    }
}

@media screen and (max-width: 1080px) {
    
    body {
        background-image: url(../assets/images/bg-mobile.svg);
    }

    /* HEADER */
    .header {
        margin: 2rem;
    }
    .header__logo {
        width: 42.5%;
    }
    /* end HEADER */

    /* MAIN-CONTENT */
    .main-content {
        flex-direction: column;
        margin: 0;
        margin-bottom: 2rem;
        align-items: center;
    }
    
    .main-content__img {
        width: 75vw;
    }

    .main-content__info {
        text-align: center;
        font-size: .8rem;
    }
    .main-content__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .main-content__text {
        margin: 0 15% 1.5rem;
    }
    .main-content__button {
        font-size: .8rem;
        padding: .6rem 4.5rem;
    }
    /* end MAIN-CONTENT */

    /* FOOTER */
    .links-ul {
        float: none;
        margin: 0;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .links-icons {
        font-size: .8rem;
    }
    /* end FOOTER */
}