:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    
    /* Text */
    --very-dark-desatured-blue: hsl(238, 29%, 16%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --soft-red: hsl(14, 88%, 65%);
    
    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
html {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-dark-desatured-blue);
}
body {
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue)) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.main {
    width: 90%;
    background-color: var(--white);
    border-radius: 25px;
    position: relative;
    margin-top: 12.5rem;
    margin-bottom: 8rem;
}

.img-container--mobile {
    display: flex;
    justify-content: center;
    position: relative;
}
.women-img--mobile {
    position: absolute;
    transform: translate(-5.5%, -55%);
    z-index: 10;
}
.shadow-img {
    position: absolute;
}
.box-img {
    display: none;
}
.background-img--desktop {
    display: none;
}
.illustration-woman--desktop {
    display: none;
}
.illustration-box--desktop {
    display: none;
}

.title {
    text-align: center;
    font-size: 2.9rem;
    margin-top: 12rem;
}
@media screen and (min-width: 1440px) {
    .title {
        text-align: left;
        margin-left: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}

.list {
    list-style: none;
    margin-bottom: 4rem;
}
@media screen and (min-width: 1440px) {
    .list {
        margin-bottom: 7.5rem;
    }
}

.list__item {
    padding: 1rem 0;
    margin: 0 2rem;
    border-bottom: 1px solid var(--light-grayish-blue);
    line-height: 1.5;
}
@media screen and (min-width: 1440px) {
    .list__item {
        margin-right: 7.5rem;
    }
}

.item__title {
    font-size: 1rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 400;
    margin-top: .25rem;
}
@media screen and (min-width: 1440px) {
    .item__title {
        font-size: 1.1rem;
    }
    .item__title:hover {
        color: var(--soft-red);
        cursor: pointer;
        transition: color ease .1s;
    }
    .active:hover {
        cursor: default;
        color: var(--very-dark-desatured-blue);
    }
}

.title__arrow {
    float: right;
    height: 100%;
    color: var(--soft-red);
    transition: transform ease .5s;
}
@media screen and (min-width: 1440px) {
    .title__arrow {
        margin-right: 1rem;
    }
}

.item__text-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s;
}
.item__text-container--show {
    max-height: 500px;
    transition: max-height 1s;
}

.item__text {
    padding-top: 1rem; 
    color: var(--dark-grayish-blue);
    width: 85%;
}
/* end CARD */


/* modifiers */
.active {
    color: var(--very-dark-desatured-blue);
    font-weight: 700;
}

.rotate-arrow {
    transform: rotate(180deg);
    transition: transform ease .5s;
}

.move-left {
    transform: translateX(-35px);
    transition: transform ease .5s;
}
/* end modifiers */

@media screen and (min-width: 1440px) {
    body {
        min-height: 100vh;
    }
    
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin: 0;
        max-height: 100vh;
    }
    .img-container--mobile {
        display: none;
    }
    .faq-section {
        width: 50%;
    }
    .img-container {
        width: 50%;
        min-height: 445px;
        overflow: hidden;
        position: inherit;
    }
    .background-img--desktop {
        display: block;
        position: absolute;
        width: 900px;
        top: -275px;
        left: -500px;
    }
    .illustration-woman--desktop {
        display: block;
        position: absolute;
        width: 485px;
        left: -85px;
        top: 38px;
    }
    .illustration-box--desktop {
        display: block;
        position: absolute;
        top: 180px;
        left: -92.5px;
        transition: transform ease .5s;
    }
}