:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%); 
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Icon-colors */
    --facebook-color: hsl(221, 44%, 41%);
    --twitter-color: hsl(197, 100%, 47%);
    --pinterest-color: hsl(353, 78%, 44%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    color: var(--very-dark-grayish-blue);
}
body {
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    max-width: 85%;
    height: min-content;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0 10px 35px -25px var(--grayish-blue);
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .card {
        max-width: 53rem;
        flex-direction: row;
        box-shadow: 10px 10px 35px -25px var(--grayish-blue);
    }
}

/* image section */
.img-section {
    background-image: url(../assets/images/drawers.jpg);
    background-size: cover;
    background-position-y: -1rem;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
}
@media screen and (min-width: 768px) {
    .img-section {
        min-height: 260.95px; /*card's height in dekstop*/
        width: 95%;
        background-position-y: 0;
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }
}

/* content section */
.content-section__title {
    font-size: 1.2rem;
    padding: 2.4rem 2.4rem 1rem;
}
@media screen and (min-width: 768px) {
    .content-section__title {
        font-size: 1.5rem;
    }
}

.content-section__text {
    color: var(--desaturated-dark-blue);
    padding: 0 2.4rem 2rem;
}
@media screen and (min-width: 768px) {
    .content-section__text {
        padding-bottom: 1.5rem;
    }
}
    /* content section__user */
    .content-section__user {
        display: grid;
        grid-template-columns: min-content auto auto;
        align-items: center;
        padding: 0 2.4rem 1.25rem;
    }

    .user__img {
        border-radius: 50%;
        height: 3rem;
        margin-right: 1.25rem;
    }

    .user__info {
        font-size: 1rem;
    }
    .info__date {
        color: var(--grayish-blue);
        font-weight: 500;
    }


    .user__share-btn {
        width: 2.5rem;
        height: 2.5rem;
        align-self: flex-end;
        background-color: var(--light-grayish-blue);
        border: none;
        border-radius: 50%;
        color: var(--desaturated-dark-blue);
        cursor: pointer;
        outline: none;
        margin: 5px;
        justify-self: flex-end;
    }
    .share-btn {
        width: 1.5rem;
        height: 1.5rem;
    }

    .share-btn__container {
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: min-content auto auto;
        align-items: center;
        bottom: 0;
        background-color: var(--very-dark-grayish-blue);
        border-radius: 0 0 10px 10px;
        padding: 1rem 2.4rem;
        margin-top: -.75rem;
    }

        .container__share-text {
            font-size: .9rem;
            color: var(--grayish-blue);
            padding-right: 1rem;
            letter-spacing: .5rem;
        }
        .active-btn {
            background-color: var(--desaturated-dark-blue);  
            color: var(--white);
        }

        .container__links-container {
            display: flex;
            gap: 1rem;
        }
        .links {
            font-size: 1.75rem;
            color: var(--white);
        }
        .links:hover {
            cursor: pointer;
            color: var(--grayish-blue);
            transition: color ease .3s;
        }
    
    @media screen and (min-width: 768px) {
        .user__share-btn:hover {
            opacity: .9;
            transition: opacity ease .3s;
        }

        .share-btn__container {
            right: -65px;
            bottom: 85px;
            display: flex;
            width: min-content;
            border-radius: 10px;
            box-shadow: 0 15px 30px -20px var(--very-dark-grayish-blue);
            padding: 0.75rem 2.4rem;
        }
        .share-btn__container::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 15px solid var(--very-dark-grayish-blue);
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            bottom: -25%;
            left: 0;
            right: 0;
            margin: auto;
        }
        .container__btn {
            display: none;
        }
    }

/* Modifiers */
.hidden {
    display: none;
}