:root {
    /* Primary Colors */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%); 
    /* Accent Colors */
    --blue: hsl(248, 32%, 49%);
    /* Neutral Colors */
    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body {
    min-height: 100vh;
    background: url(../assets/images/bg-intro-desktop.png) var(--red) no-repeat center;
}
@media only screen and (min-width: 1440px) {
    body {
        background-size: 97.5% 100%;
    }
}

/* Main */
.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

/* Main header */
.main__header :is(h1, p)::selection {
    background-color: #fff;
    color: var(--red);
}
@media only screen and (max-width: 1024px) {
    .main__header {
        text-align: center;
    }
}
@media only screen and (max-width: 425px) {
    .main__header {
        padding: 1em;
    }
}

.header__title {
    font-size: 3rem;
    line-height: 1.15;
    margin-bottom: 1.75rem;
    max-width: 16ch;
}
@media only screen and (max-width: 425px) {
    .header__title {
        font-size: 2rem;
        margin: 4rem auto 1.5rem;
    }
}
.header__text {
    max-width: 50ch;
}
/* end Main header */

/* Flex Form */
.flex-form {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 1440px) {
    .flex-form {
        min-width: 525px;
    }
}
@media only screen and (max-width: 425px) {
    .flex-form {
        margin: 0 1em 5rem;
    }
}

.flex-form__title {
    background-color: var(--blue);
    border-radius: 7.5px;
    box-shadow: 0 5px rgba(0, 0, 0, .1);
    font-size: 1rem;
    margin-bottom: 1em;
    padding: 1em 5em;
    text-align: center;
}
.flex-form__title--light {
    font-weight: 400;
}
:is(.flex-form__title, .flex-form__title span)::selection {
    background-color: #fff;
    color: var(--blue);
}

/* Flex Form Container */
.flex-form__container {
    background-color: #fff;
    border-radius: 7.5px;
    box-shadow: 0 5px rgba(0, 0, 0, .1);
    padding: 2em;
}

.container__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__input {
    border: 1.75px solid hsl(247, 27%, 94%);
    border-radius: 5px;
    caret-color: var(--blue);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    padding: .9em 0 .9em 1.5em;
}
@media screen and (max-width: 425px) {
    .form__input {
        padding: .75em 0 .75em 1em;
    }
}
.form__input::selection {
    background-color: var(--red);
}
.form__input:focus {
    border-color: var(--blue);
}
#submit-input {
    background-color: var(--green);
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 1em 0;
    padding-bottom: calc(1em - 4px);
    transition: background-color ease .15s;
}
@media only screen and (min-width: 1024px) {
    #submit-input:hover {
        cursor: pointer;
        background-color: hsl(154, 69%, 66%);
    }
}
#submit-input:active {
    background-color: hsl(154, 69%, 66%);
}


.flex-form__terms {
    color: var(--grayish-blue);
    font-size: .65rem;
    margin-top: 1.25em;
    text-align: center;
}
.flex-form__terms--link {
    color: var(--red);
    font-weight: 600;
}
.flex-form__terms--link:hover {
    cursor: pointer;
    text-decoration: 1px solid var(--red) underline;
}

/* end Flex Form Container */
/* end Flex Form */
/* end Main */

/* Modifiers */
.input-error {
    background: url(../assets/images/icon-error.svg) no-repeat 95%;
    border-color: var(--red);
}
.input-error::placeholder {
    visibility: hidden;
}
.input-error-msg {
    color: var(--red);
    font-size: .75rem;
    margin-top: -.5rem;
    text-align: right;
}
.error-hidden {
    display: none;
}
/* end Modifiers */